<div class="container">
  <h1 id="greeting">Welcome to the World of Robots!</h1>
  <div class="row">
    <ul>
      <li class = 'col-6'><a href="/robots" class = "waves-effect waves-light btn-large">All of the Robot Servants(?)</a></li>
      <li class= 'col-6'><a href="/robots/new" class = "waves-effect waves-light btn-large">Create a new Robot!</a></li>
    </ul>
  </div>
</div>
