<div>
  <h5>Create a new robot!</h5>
  <br/>
  <form action = "/robots" method="post">
    <input type='text' name='robot[name]' id="robot_name"/><label for="robot_name">Robot Name</label><br/>
    <input type='text' name='robot[city]' id="robot_city"/><label for="robot_city">City of Residence</label><br/>
    <input type='text' name='robot[state]' id="robot_state"/><label for="robot_state">State of Residence</label><br/>
    <input type='text' name='robot[birthdate]' id="robot_birthdate"/><label for="robot_birthdate">Date of Birth</label><br/>
    <input type='text' name='robot[date_hired]' id="robot_date_hired"/><label for="robot_date_hired">Date of Hire</label><br/>
    <input type='text' name='robot[department]' id="robot_department"/><label for="robot_department">Department</label><br/>
    <button type="submit" name="action">Submit</button>
  </form>
</div>
